body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(214, 150, 52);
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 168, 59));
    padding: 10px;
    border-radius: 20px;
    color: rgb(4, 3, 19);
    font-weight: 700;
    
}
ul{
    display: inline;
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
}
.half-width{
    width: 55%;
    padding-left: 20px;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.middle-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
footer h1{
    text-align: center;
    color: rgb(58, 57, 57);

}
footer p{
    text-align: center;
}
.recipies-item img{
    width: 100%;
}
.recipies-item{
    position: relative;
    width: calc(400px - 10px);
    height: calc(520px - 30px);
    
    margin: 10px;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;

}

.viewers-container{
    display: flex;

    width: calc(400px - 10px);
    height: calc(150px -  20px); 
    
    margin: auto;

    padding-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

.footer-col h2{
    text-align: center;

}
.grey-color{
    color: darkgrey;
}
.white-color{
    color: aliceblue;
}
.footer-col p{
    text-align: center;
}
.footer-col{
    background-color: rgb(1, 1, 14);
}